/* Modified from my WebTV CSS - https://github.com/SKCro/WebTV-HD */
body{
	margin:0;
	font-family:'Source Sans Pro',Tahoma,sans-serif;
	background:#000204;
	background-image:linear-gradient(#048,#001222);
	background-repeat:no-repeat;
	color:#f0f0f0;
	text-shadow:0 0.2rem 0.1rem #000810;
}

main{margin:1%;}
h1{margin:0;}
h2, h3, h4, h5, h6{
	margin-top:0.2rem;
	margin-bottom:0.2rem;
}

a{color:#0078f0;}
p{
	margin-top:0.5rem;
	margin-botton:0.5rem;
	word-wrap:break-word;
}

code{
	font-family:'Source Code Pro',fixed-width;
	font-size:0.9rem;
	background-color:#001222;
	border-radius:0.5rem;
	padding-left:0.1rem;
	padding-right:0.1rem;
}

/* Fonts */
@font-face{
	font-family:'Source Sans Pro';
	src:url('fonts/SSPStandard.woff2')format('woff2');
	font-weight:normal;
	font-style:normal;
	font-display:swap;
}
@font-face{
	font-family:'Source Sans Pro';
	src:url('fonts/SSPBold.woff2')format('woff2');
	font-weight:bold;
	font-style:normal;
	font-display:swap;
}
@font-face{
	font-family:'Source Code Pro';
	src:url('fonts/SCPStandard.woff2')format('woff2');
	font-weight:normal;
	font-style:normal;
	font-display:swap;
}

/* Input Styles */
.input-container{
	display:flex;
	justify-content:space-between;
	margin-bottom:0.5%;
}

input[type="text"],input[type="password"]{
	font-family:'Source Code Pro',monospace;
	background-color:#444444;
	color:#ffdd33;
	padding:0.3rem;
	width:auto;
	font-size:1rem;
	border-color:#024 #048 #048 #024;
	border-width:0.3rem;
	border-radius:0;
}input[type="text"]::placeholder,input[type="password"]::placeholder{color:#f0f0f080;}

input[type="checkbox"]{
	background-color:#32323280;
	outline:none;
	position:relative;
	border-style:solid;
	border-color:#7F7F7F80;
	border-width:0.2rem;
	border-radius:0;
}

input[type="checkbox"]::after{ /* Inner shadow */
	content:'';
	position:relative;
	z-index:-1;
	display:block;
	height:90%;
	width:90%;
	filter:blur(1px);
	border:0.2rem solid;
	border-color:black transparent transparent black;
	pointer-events:none;
}

input[type="checkbox"]::before{
	content:'';
	background-image:url('../images/Checkmark.svg');
	background-size:contain;
	background-repeat:no-repeat;
	z-index:10000;
	position:absolute;
	display:block;
	width:2rem;
	height:2rem;
	left:-0.12rem;
	top:-0.2rem;
	visibility:hidden;
	pointer-events:none;
}
input[type="checkbox"]:checked::before{visibility:visible;}

input[type="radio"]{
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	width:1.2rem;
	height:1.2rem;
	background-color:#0C0C0C;
	cursor:url('../images/cursorClick.png') 24 23, pointer;
	position:relative;
	border-radius:100%;
	background-image:radial-gradient(circle at 6px 6px, #3C3C3C 25%, #0C0C0C 75%);
	margin-top:0.3rem;
}

input[type="radio"]::before{
	content:'';
	border-radius:100%;
	position:absolute;
	width:1.6rem;
	height:1.6rem;
	display:block;
	background-image:linear-gradient(to bottom right, #F7FFF7 35%, #3C3C3C 80%);
	left:-0.2rem;
	top:-0.2rem;
	z-index:-1;
}

input[type="radio"]::after{
	content:'';
	border-radius:100%;
	position:relative;
	width:100%;
	height:100%;
	display:block;
	background-image:radial-gradient(circle at -6px -6px, #00000080 25%, #0000 75%);
}

input[type="radio"]:checked{
	background-color:#F73C44;
	background-image:radial-gradient(circle at 6px 6px, #F7FFE1, #F73C44 15%, #7F0C00 60%);
}

input[type="radio"]:checked::after{
	display:none;
}

::selection{
	background-color:#0078f0f0;
	color:#f0f0f0;
}